.container {
    background-color: springgreen;
    height: 80vh;
    width: 90vw;
}

.box {
    margin-top: 20px;
    display: block;
    position: relative;
    width: 150px;
    height: 120px;
    background-color: tomato;
    animation: DaemonsAnimation 4s ease-in-out 2s infinite;
    /*Daemon2 2s ease-in-out 2s infinite*/
    ;

}

@keyframes DaemonsAnimation {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(400px);
    }

    80% {
        transform: translateX(600px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes Daemon2 {
    0% {
        transform: rotate(100deg);
    }

    20% {
        transform: rotate(200deg);
    }

    50% {
        transform: rotate(220deg);
    }

    80% {
        transform: rotate(300deg);
    }

    100% {
        transform: rotate(310deg);
    }
}