.title-container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: black;
    color: rgb(65, 142, 215);
    padding: 10px;
    display: flex;
    border: 2px solid rgb(82, 200, 191);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.Introduction {
    text-align: center;
    color: cyan;
    margin: 20px;
    padding: 20px;
    border: 2px solid rgb(82, 200, 191);
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
}

.hero-section {
    color: cyan;
    margin: 20px;
    padding: 20px;
    border: 2px cyan solid;
    border-radius: 10px;
    background-color: black;
    text-align: center;
}

.about {
    color: cyan;
    margin: 20px;
    padding: 20px;
    border: 2px solid rgb(98, 209, 168);
    border-radius: 10px;
    background-color: black;
    text-align: center;
}

.home{
    color: cyan;
    margin: 20px;
    padding: 20px;
    border: 2px solid rgb(121, 228, 215);
    border-radius: 10px;
    background-color: black;
    text-align: center;
}

.presentations{
    color: cyan;
    margin: 20px;
    padding: 20px;
    border: 2px solid rgb(121, 228, 215);
    border-radius: 10px;
    background-color: black;
}


body {
  background-image: url('dark.jpg'); /* Path to your image */
  background-repeat: no-repeat;          /* Prevents image from tiling */
  background-size: cover;                /* Scales image to cover the area */
  background-position: center;           /* Centers the image */
  background-attachment: fixed;          /* Keeps image static while scrolling (optional) */
}

