.header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(104, 193, 193);
    padding: 10px;
    display: flex;
    border: 2px solid rgb(82, 200, 191);
    border-radius: 40px;
    justify-content: center;
    align-items: center;
}

h1:hover {
  color: #00ffff;
  text-shadow: 0 0 8px rgba(0, 255, 255, 0.8);
}

.Introduction {
    text-align: center;
    color: cyan;
    margin: 20px;
    padding: 20px;
    border: 2px solid rgb(82, 200, 191);
    border-radius: 10px;
}
strong:hover {
  color: #00ffff;
  text-shadow: 0 0 8px rgba(0, 255, 255, 0.8);
}

a:hover {
  color: #00ffff;
  text-shadow: 0 0 8px rgba(0, 255, 255, 0.8);
}


.hero-section {
    color: cyan;
    margin: 20px;
    padding: 20px;
    border: 2px cyan solid;
    border-radius: 10px;
    text-align: center;
}

.hero-section ol {
    list-style-type: square;
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
}

.about {
    color: cyan;
    margin: 20px;
    padding: 20px;
    border: 2px solid rgb(98, 209, 168);
    border-radius: 10px;
    text-align: center;
}

.home{
    color: cyan;
    margin: 20px;
    padding: 20px;
    border: 2px solid rgb(121, 228, 215);
    border-radius: 10px;
    text-align: center;
}

.presentations{
    color: cyan;
    margin: 20px;
    padding: 20px;
    border: 2px solid rgb(121, 228, 215);
    border-radius: 10px;
}


body {
  background-image: url('assets/download.jpg'); /* Path to your image */
  background-repeat: no-repeat;          /* Prevents image from tiling */
  background-size: cover;                /* Scales image to cover the area */
  background-position: center;           /* Centers the image */
  background-attachment: fixed;          /* Keeps image static while scrolling (optional) */
}

.copyright {
    text-align: center;
    color: cyan;
}
