@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Lora:ital,wght@0,400..700;1,400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-border-color: 1px solid rgb(155, 151, 151);
    --Box-color: rgba(245, 241, 238, 0.511);
    --Primary-font-family: Google Sans Flex, 'Archivo Black', Playfair Display, Lora, PT Serif, serif;
    --secondary-font-family: 'Archivo Black', Playfair Display, Lora, PT Serif, serif;
}

header {
    position: sticky;
    top: 0;
}

nav {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px slategray solid;
    border-radius: 3px;
    background-color: #f6f6f6;
    flex-wrap: wrap;
}

.logo img {
    display: flex;
    justify-content: space-around;
    width: 164px;
    align-items: center;
}

.menu ul {
    display: flex;
    gap: 40px;
}

.menu ul li {
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
}

.copied-from-another-tab {
    margin: 40px;
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.Containers-to-download h1 {
    margin: 70px;
    text-align: center;
    font-family: var(--Primary-font-family);
    font-size: 40px;
}

.information-container {
    text-align: center;
    font-size: 18px;
    font-family: Lora;
    margin: 30px;
    color: #777171;
}

.box-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    align-items: center;
    grid-gap: 30px;
    /* grid-template-columns: [first] 100px [second]100px [third] 100px [fourth] 100px [fivth]100px [sixth]100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px; */
    grid-template-areas:
        "first second"
        "third fourth"
        "fivth sixth";
    column-gap: 100px;
    row-gap: 30px;
}

.box {
    border: var(--primary-border-color);
    height: 35vh;
    width: 40vw;
    background-color: var(--Box-color);
    border-radius: 8px;
}

.b-1 {
    grid-area: 1 / 1 / 2 / 2;
    grid-column: first/t;
}

.b-2 {
    grid-area: 1 / 2 / 2 / 3;
    grid-column: second/t;
}

.b-3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-area: 1 / 3 / 2 / 4;
    grid-column: third/t;
}

.b-4 {
    grid-area: 1 / 4 / 3 / 2;
    grid-column: fourth/t;
}

.b-5 {
    grid-area: 2 / 1 / 3 / 2;
    grid-column: fivth/t;
}

.b-6 {
    grid-area: 2 / 2 / 3 / 3;
    grid-column: sixth/t;
}