#header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: greenyellow;
    color: black;
    text-align: center;
}

.boiler{
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: yellow;
}

#header{
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.login{
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: magenta;
    color: black;
    text-align: center;
}

.comment{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aqua;
    color: black;
}

#lower_footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: orange;
    color: black;
    text-align: center;
}

.login_button{
    background-color: lightblue;
    font-size: 16px;
    padding: 10px 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-right: 10px;
}

.register_button{
    background-color: lightblue;
    font-size: 16px;
    padding: 10px 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-left: 10px;
}

body{
    background-color: lightgrey;
}
