.Portfolio-header {
    color: rgb(0, 0, 0);
    background-color: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin:auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.hero-section {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: none;
    padding: 15px;
    border-radius: 8px;
    margin: 20px;
}

.sub-headings {
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 20px;
    font-style: normal;
}
article {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: none;
    padding: 15px;
    border-radius: 8px;
    margin: 20px;
}
