.card-container{
    display: flex;
  justify-content: center; /* centers cards horizontally */
  gap: 30px;               /* space between cards */
  padding: 40px 0;
}

.card-1 {
    height: 600px;
    width: 410px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: -8px 10px 6px rgba(215, 190, 190, 0.712);
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    aspect-ratio: auto;
}

.card-2 {
    height: 600px;
    width: 410px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: -12px 12px 6px rgba(215, 190, 190, 0.712);
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    aspect-ratio: auto;
}



.capsule-1 {
    text-align: center;
    color: #212529;
    border-radius: 0.25rem;
    border: #343a40 2px solid;
    padding: 5px;
    margin: 10px;
}

.capsule-2 {
    text-align: center;
    color: #212529;
    border-radius: 0.25rem;
    border: #343a40 2px solid;
    padding: 5px;
    margin: 10px;
}
