* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 80vw;
    height: 50vh;
    margin-left: 50px;
    margin-top: 50px;
    padding: 30px 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
}

h1 {
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}